quarkus:
  application:
    name: java-spring-jooq
  liquibase:
    change-log: classpath:classpath:db/master.yaml
    migrate-at-start: false
    contexts: dev,test
    default-schema: public
  jooq:
#    sql-dialect: H2
    dialect: POSTGRES
    render-formatted: true
"%dev":
  quarkus:
    datasource:
      jdbc:
        url: jdbc:h2:file:./data/devdb;MODE=PostgreSQL
        max-pool-size: 10
"%test":
  quarkus:
    datasource:
      db-kind: h2
      jdbc:
        url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    jooq:
      dialect: POSTGRES
      schema-name: INTEGRATION_SCHEMA
