quarkus:
  application:
    name: java-quarkus-jooq
  liquibase:
    change-log: classpath:db/master.yaml
    migrate-at-start: true
    contexts: dev,test
  jooq:
#    sql-dialect: H2
    dialect: POSTGRES
"%dev":
  quarkus:
    datasource:
      username: sa
      password: ""
      jdbc:
        url: jdbc:h2:file:./data/devdb;MODE=PostgreSQL
    jooq:
      dialect: POSTGRES
"%test":
  quarkus:
    datasource:
      db-kind: h2
      username: sa
      password: ""
      jdbc:
        url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    jooq:
      dialect: POSTGRES
    liquibase:
      migrate-at-start: true
"%integration":
  quarkus:
    liquibase:
      migrate-at-start: true

"%staging":
  quarkus:
    datasource:
      username: sa
      password: ""
      jdbc:
        url: jdbc:h2:file:./data/devdb;MODE=PostgreSQL
    jooq:
      dialect: POSTGRES
"%prod":
  quarkus:
    datasource:
      jdbc:
        url: jdbc:h2:file:./data/devdb;MODE=PostgreSQL