spring:
  application:
    name: java-spring-jooq
  liquibase: #Needed for spring-boot start
    enabled: false # true when need liquibase start with app
    change-log: classpath:db/master.yaml
    url: jdbc:h2:tcp://localhost:9123/./data/devdb;MODE=PostgreSQL
    user: sa
    password:
  datasource:
#    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/myappdb}
#    username=${SPRING_DATASOURCE_USERNAME:myuser}
#    password=${SPRING_DATASOURCE_PASSWORD:mypassword}
    url: jdbc:h2:tcp://localhost:9123/./data/devdb;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
#    url: jdbc:postgresql://localhost:5432/simba_db
#    driver-class-name: org.postgresql.Driver
#    username: simba_user
#    password: simba_user
  jooq:
    sql-dialect: postgres
  logging:
    level:
      org:
        jooq: DEBUG
        springframework:
          jdbc: DEBUG
  h2:
    console:
      enabled: true
      path: /h2-console
